<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">

	<title>AY</title>
	<style type="text/css" media="screen">
		code.htmltag {
			padding: 2px 4px;
			color: #d14;
			white-space: nowrap;
			background-color: #f7f7f9;
			border: 1px solid #e1e1e8;
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			font-size: 12px;
			font-weight: normal;
		}
		#shapes {
			margin-left: 100px;
		}
	</style>
</head>
<body>
	<h2 id="title"><a href="/#code">Adam Yee</a></h2>
	<h3>Playing with <code class="htmltag">&lt;canvas&gt;</code></h3>
	<p>Hover for changes</p>
	<canvas id="shapes">
		browser not supported
	</canvas>
	<script src="{{STATIC_URL}}js/bower_components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8" defer></script>
	<script src="{{STATIC_URL}}js/canvas/canvas.js" type="text/javascript" charset="utf-8" defer></script>
</body>