<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">

	<title>AY</title>
	<link
		href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cosmo/bootstrap.min.css"
		rel="stylesheet" media="screen">
	<link
		href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
		rel="stylesheet">
	<link href="{{ STATIC_URL }}css/homepage/homepage.css" rel="stylesheet">
	
</head>

<body>
	<div id="wrap">
		<div class="fluid-container">
			<div class="row-fluid">
				<div class="span2">
					<div style="position: fixed"></div>
				</div>
				<div class="span8">
	
					<h1 style="margin-bottom:15px;" id="title"><a href="/" style="text-decoration: none !important">Adam Yee</a></h1>

					<div id="thankyou" class="thankyou">Thank you!<button id="closety" type="button" class="close">×</button></div>
					
					<div class="tabbable">
						<ul class="nav nav-tabs" id="tabs">
							<li id="about-tab" class="active"><a href="#about" data-toggle="tab">About</a></li>
							<li id="resume-tab"><a href="#resume" data-toggle="tab">Resume</a></li>
							<li id="code-tab"><a href="#code" data-toggle="tab">Code</a></li>
							<li id="contact-tab"><a href="#contact" data-toggle="tab">Contact</a></li>
						</ul>
		
						<div class="tab-content" id="main-content">
							<div class="tab-pane section-wrap active" id="about">
								<div class="row-fluid">
								<div class="span10 offset1" style="padding-top:20px;">
									<p>
										Hi, you've reach my personal web page. Here is some info about me.
									</p>
									<p>
										I started out a physics engineer and went back to school for computer science after finding web development as an interest.
										Back in 2011, I wrote a thesis for a <a href="http://dl.acm.org/citation.cfm?doid=2379436.2379439" target="_blank">project</a> 
										I completed that creates custom file system interfaces to Hadoop MapReduce.
									</p>
									<p>
										I consider myself to have a breadth of knowledge and a logical approach to problem solving. While talent and depth of knowledge are
										widely sought after, I believe the ability to apply a fundamentally strong knowledge base in any environment can be equally valuable.
									</p>
									<p>
										The first language I grew fond of is Python and I have some Java experience. As of now I'm honing my web development skills,
										and I plan on programming for a career. Recently, I've found that I get a lot of statifaction from implementing TDD successfully.
									</p>
									
									<p>I'm currently working as a front-end developer at <a href="http://www.autodesk.com">Autodesk</a>.</p>
								</div>
								</div>
							</div>
							<div class="tab-pane section-wrap" id="resume">
								<div class="section-header row-fluid"><h3>Summary of Qualifications</h3><button class="btn btn-small btn-primary section-toggle"><i class="togglers"></i></button><button class="btn btn-primary btn-small" style="float:right;" id="show-all"></button></div>
								<div class="section">
									<ul>
										<li>Working knowledge of the Software Development Life Cycle (SDLC).</li>
										<li>Experienced with unit test frameworks and some automation testing.</li>
										<li>Comfortable with the whole Web development stack.</li>
										<li>Saleforce.com - Configuration and Customization. VisualForce pages, Controllers, Triggers and data loading.</li>
										<li>Network programming. Fundamental understanding of network protocols: IP, Ethernet, TCP, ARP, ICMP, OSPF. Client/server applications.</li>
									</ul>
								</div>
								
								<hr>
								<div class="section-header row-fluid"><h3>Technical Skills</h3><button class="btn btn-small btn-primary section-toggle"><i class="togglers"></i></button></div>
								<div class="section">
									<h4>Most Currently Used</h4>
										<p>JavaScript, Backbone.js, jQuery, HTML, CSS/Less, Jasmine, TDD/BDD, Grunt, Scrum</p>
								
									<h4>Staple skills</h4>
										<p>Python, Java, Linux, Unit Testing</p>

									<h4>Currently Learning</h4>
										<p>Git</p>
			
									<h4>Getting Stale</h4>
										<p>Apache, C/C++, Django, Hadoop, IVR, Jenkins, Machine Learning, Maven, Network Programming, Salesforce.com (Visual Force, Apex), SQL</p>
								</div>
								
								<hr>
								<div class="section-header row-fluid"><h3>Professional Experience</h3><button class="btn btn-small btn-primary section-toggle"><i class="togglers"></i></button></div>
								<div class="section">
									<h4>Autodesk | Front End Web Developer | August '12 to present</h4>
									Joined a UI team to build front end web applications.
									<ul>
										<li>Backbone.js, jQuery, RESTful API</li>
										<li>Scrum/Agile development</li>
									</ul>
									
									<h4>Tahebo - Agate Force | Salesforce Developer | April ’12 to July '12</h4>
									Part of a team that develops custom Salesforce.com solutions for
									end-clients
									<ul>
										<li>Wrote Apex Classes, Custom Controllers, Extension
											Controllers and Apex Triggers
										<li>Developed Custom Objects, Tabs, validation
											rules, formula fields.
										<li>Designed and developed user interfaces with Visual Force, jQuery
											and Bootstrap.
										<li>Worked with Salesforce.com Standard objects like
											Accounts, Opportunities, Leads, Campaign, Events, Tasks,
											Contacts, Cases, Reports and Dashboards.
										<li>Triage and troubleshoot end user issues in production
											environment. Ensured proper communication and updates were
											facilitated regarding status.
										<li>Customized salesforce.com Reports and Dashboards
									</ul>
			
									<h4>Performance Technology Partners | Java Developer | contract April '12 - April '13</h4>
									Developed Interactive Voice Response (IVR) applications. Support
									internal frameworks and documentation. Unit testing and
									application test suites.
									<ul>
										<li>Worked with a small team of developers to port an
											existing IVR application (Intervoice) to a custom Java
											application and Genesys Voice Platform.</li>
										<li>Contributed to MVC framework used to develop client applications.</li>
										<li>Designed and executed a Test Plan, Worked with client
											through UAT and met targeted deadlines for successful
											application launch.</li>
										<li>Worked on J2EE Platform, Servlets, Controllers,
											web services in Spring, Velocity scripts,
											Oracle Database</li>
										<li>Tested using Junit, TestNG, Selenium
										<li>Built applications on a custom Java framework that
											implements an HttpServlet wrapped in a state machine for data
											access, prompt and dialog transitions.</li>
									</ul>
								</div>
								
								<hr>
								<div class="section-header row-fluid"><h3>Other Related Experience</h3><button class="btn btn-small btn-primary section-toggle"><i class="togglers"></i></button></div>
								<div class="section">
									<h4>Graduate School | 2010 - 2011</h4>
									<p>Thesis - designed and implemented the Hadoop FileSystem Agnostic API
									(HFAA). It allows Hadoop’s MapReduce engine to interface with any
									file system over TCP sockets and simplifies integration. Tested
									and performed proof of concept with OrangeFS (PVFS). <br />
									ACM Workshop paper - <a href="http://dl.acm.org/citation.cfm?doid=2379436.2379439" target="_blank">HFAA: a generic socket API for Hadoop file systems</a>
									</p>
		
									<p>Sensor Networks - Lead and facilitated a team of seven people to build a three node Ethernet sensor 								network that collected vibration data using microcontrollers and accelerometers. Captured sensor data with 								Python scripts (via TCP sockets) and saved to a MySQL database.  Served data analysis via a web server using 								Apache, Python, mod_wsgi and Django.</p>
		
			
									<h4>Self Taught Web Developer | 2009 - 2010</h4>
									<p>Front to back end fundamentals and server admin. Django, jQuery, Apache.</p>
								</div>
								
								<hr>
								<div class="section-header row-fluid"><h3>Education</h3><button class="btn btn-small btn-primary section-toggle"><i class="togglers"></i></button></div>
								<div class="section">
									<p class="info">MS - Computer Science, Thesis, University of the Pacific, CA, Aug. 2010 - Dec. 2011</p>
									<p class="info">BS - Engineering Physics, University of the Pacific, CA,2002-2007</p>
								</div>
		
							</div>
							
							<div class="tab-pane section-wrap" id="code">
								<div class="row-fluid">
									<div class="span10 offset1" style="padding-top:20px;">
										<ul>
											<li>
												<a href="/messages/">Messages</a> <span>created August 2013</span><br />
												<p>This is an ongoing test bed for learning and experimenting with backbone.js. A simple message page that dynamically adds and displays messages.</p>
												<p>Messages managed through a RESTful API built with Django and the Django REST Framework.</p>
												<p>Open multiple browsers to observe adding, removing and editting messages on the fly.</p>
											</li>

											<li>
												<a href="/messages/angular/">Messages with Angular</a> <span>created February 2014</span>
												<p>This is an implementation of Messages in Angular.js</p>
											</li>
											<li>
												<a href="/triangles/">Playing with triangles</a> <span>created February 2014</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="tab-pane section-wrap" id="contact">
								<div class="row-fluid">
									<div class="span10 offset1" style="padding-top:20px;">
										<p>Click <a href="#contact-modal" role="button" class="btn btn-small" data-toggle="modal" style="margin-top:-5px;">here</a> to leave me a message.</p>
										<ul>
											<li>
												<a href="http://www.linkedin.com/pub/adam-yee/14/a25/7b0/" target="_blank">Linkedin</a>
											</li>
											<li>
												<a href="https://github.com/AdamYee" target="_blank">GitHub</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div id="endnote">Copyright 2014 Adam Yee.</div>
						</div> <!-- main-content -->
					</div> <!-- tabbable -->
				</div> <!-- span8 -->
	
				<div class="span2"></div>
			</div> <!-- fluid container -->		
			
			<div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Contact Me</h3>
				</div>
				<form id="contact-form" class="form-horizontal" action="/contact/"  method="post">{% csrf_token %}
					<div class="modal-body" style="margin-left:-80px;" id="modal-body">
						{% include 'contact_modal.html' %}
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary" form="contact-form" type="submit">Submit</button>
					</div>
				</form>
			</div> <!-- modal -->
	
			<div id="push"></div>
		</div> <!-- main container -->
	</div> <!-- wrap -->

	<!--[if lt IE 10]>
	     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="{{ STATIC_URL }}js/bower_components/jquery/jquery.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/bower_components/json2/json2.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/notmine/csrf.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/homepage/resume.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/homepage/contact.js" type="text/javascript"></script>

</body>

</html>