<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">
	<meta name="description" content="Using Backbone to access and edit messages through an REST interface.">

	<title>AY - Backbone Messages</title>
	<link
		href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css"
		rel="stylesheet" media="screen">
	<link
		href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
		rel="stylesheet">
	<style>
	.message-row {
		display: none;
	}
	.delete {
		float: right;
	}
	.edit-container {
		float: left;
		padding-right: 10px;
		margin-top: -2px;
	}
	.edit {
		width: 100%;
		margin-top: -5px;
	}
	#notification {
		display: none;
		padding: 10px;
		text-align: center;
		background-color: #FFCCBA;
		border-radius: 5px;
	}
	#message-app {
		margin-left: 20px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		width: 640px;
		border: 1px solid #ddd;
	}
	</style>
	
</head>
<body>
	
	<h3 id="title" style="padding-left:20px"><a href="/#code" style="text-decoration: none !important">Adam Yee</a></h3>
	<div id="message-app">
		<form method="post" action="/messages/" id="form" class="form-inline">{% csrf_token %}
			<label for="msg" class="control-label">Enter message ></label>
			<input class="form-control" id="msg" type="text" placeholder="..." style="width:350px;" />
			<input id="submit" type="submit" value="submit" />
		</form>
		<div id="notification">
			<span id="notify-text"></span>
			<button id="close" type="button" class="close">×</button>
		</div>
		<hr />
		<div id="message-list"></div>
	</div>

	<script data-main="{{ STATIC_URL }}js/message-app/message-app.js" src="{{ STATIC_URL }}js/bower_components/requirejs/require.js"></script>
</body>
</html>
