<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">
	<link rel="stylesheet" href="{{STATIC_URL}}js/bower_components/bootstrap/dist/css/bootstrap.css">
	<link href="{{STATIC_URL}}css/messages-durandal.css" rel="stylesheet">

	<title>AY</title>
	
</head>
<body>
	<h2 id="title"><a href="/#code">Adam Yee</a></h2>
	in progress <br>
	<div id="applicationHost"></div>
	<script src="{{STATIC_URL}}js/bower_components/requirejs/require.js" data-main="{{ STATIC_URL }}js/messages-durandal/main.js"></script>
</body>
</html>