<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">

	<title>AY</title>
	
</head>
<body>
	<h2 id="title"><a href="/#code">Adam Yee</a></h2>
	<div id="messages">
		<p>Messages take two...with Angular.js</p>
	</div>
	<div id="div2">
		div2
	</div>
	<script src="{{ STATIC_URL }}js/bower_components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	// var p = document.querySelector('p');
	// var div1 = document.querySelector('#messages');
	// var div2 = document.querySelector('#div2');
	// var body = document.querySelector('body');
	// p.addEventListener('click', function(e) {
	// 	console.log('p', e);
	// });
	// div1.addEventListener('click', function(e) {
	// 	console.log('div1', e);
	// });
	// div2.addEventListener('click', function(e) {
	// 	console.log('div2', e);
	// });
	// body.addEventListener('click', function(e) {
	// 	console.log('body', e);
	// });

	$('body').on('click', 'p, #message, #div2', function(e) {
		console.log(e.target);
	})
	</script>
</body>
</html>